.bg-light {
    background-color: white !important;
}

#logo {
    width: 54%;
    margin-left: 25%;
}

.navbar-nav {
    margin-left: 9%;
}

.navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
}

#btnConnexion {
    margin-right: 8%;
}

.navbar-nav .active {
    border-bottom: solid 1px #17a2b8;
}

#presentation {
    color: #17a2b8;
    font-size: 30px;
    margin-left: 9%;
    margin-top: 4%;
}

#presentation-text {
    margin-top: 1%;
    margin-left: 10%;
}
